* { /* Serve per resettare le impostazioni di default del browser */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix { /* Serve in caso di oggetti in float */
    content: "";
    display: table;
    clear: both;
}

.container { /* Regola la grandezza del container a tutto schermo */
    width: 100%;
    height: 100vh;
}

.container_red { /* Serve per definire lo stile del primo contenitore */
    background-color: red;
    color: yellow;
    position: relative;
}

.container_green { /* Serve per definire lo stile del secondo contenitore */
    background-color: green;
    color: yellow;
    position: relative;
}

.container_yellow { /* Serve per definire lo stile del terzo contenitore */
    background-color: yellow;
    color: green;
    position: relative;
}

ul { /* Serve per posizionare correttamente la lista dei link */
    list-style: none;
    float: right;
    transform: translate(-10px, 40px);
}

li { /* Serve per disporre orizzontalmente gli elementi della lista, separandoli con dei margini */
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

a { /* Serve per definire lo stile dei link da schiacciare */
    padding: 7.5px 9.5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: bolder;
    border: 1px solid black;
    text-align: center;
}

.image_and_description { /* Sposta l'immagine e la descrizione al centro della schermata, in un unico blocco */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image_container { /* Serve per definire la larghezza del container dell'immagine */
    width: 60%;
    margin: 0 auto;
}

img { /* Serve per dare all'immagine le dimensioni del suo contenitore */
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

h2 { /* Serve per dare lo stile alle varie scritte della pagina */
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Rubik Mono One', sans-serif;
}